body{

    background: rgb(112,108,185);
    background: linear-gradient(3deg, rgba(112,108,185,1) 0%, rgba(0,124,184,1) 100%); 
    
}
.btn-degrade{
    background: rgb(0,124,184,1);
    color: aliceblue;    
}

.card{
    background: rgb(226,226,226);
    background: linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(184, 183, 183) 100%); 
}
.input-group-text{
    background: rgb(120,218,95);
    background: linear-gradient(159deg, rgba(120,218,95,1) 0%, rgb(94, 163, 82) 100%);
 }
/*******ocultar las ventanas******/


#gastos-fijos{
  display: none;
}

/*********Products************/
    #productos{
        display:none;
    }
    #producto2{
        display: none;
    }
    #producto3{
        display: none;
    }
    #producto4{
        display: none;
    }

#moreproducts:hover{
    cursor: pointer;
}
/********* Gastos fijos*************/
    #morepreciosf:hover{
        cursor: pointer;
    }
  #inputgastos2,#inputgastos3,#inputgastos4{
    display: none;
  }
  #inputgastos3{
    display: none;
  }
 #inputgastos4{
    display: none;
  }

/*********End  Gastos fijos*************/
/***********Estadisticas*****************/

#estadisticas{
    display: none;
}
/***********End Estadisticas*****************/